@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model List<Client.Models.Gets.GetEmployee>;
<div class="modal fade" data-employeecode id="ModalEmployeeList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#01295C;color:white">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">@localizer["List Employee"]</h1>
                <button type="button" class="btn-close" style="background-color: white;opacity: 1;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-12">
                            <table id="TbEmployeeList" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                                <thead>
                                    <tr>
                                        <th>@localizer["Driver Code"]</th>
                                        <th>@localizer["Driver Name"]</th>
                                        <th>@localizer["HP"]</th>
                                        <th>@localizer["Driver ID"]</th>
                                        <th>@localizer["License Expire Date"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in Model)
                                    {
                                        <tr>
                                            <td>@a.DriverCode</td>
                                            <td>@a.DriverName</td>
                                            <td>@a.HP</td>
                                            <td>@a.DriverID</td>
                                            <td>@a.LicenseExpDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@localizer["Close"]</button>
                <button type="button" class="btn" id="btnChooseEmployee" style="background-color:#01295C;color:white">@localizer["Choose"]</button>
            </div>
        </div>
    </div>
</div>