<title>@ViewData["Title"] - EWSystem</title>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Client.Models.Response.ListMasterConfirmBookingSheet
<div class="row">
    <div class="col-6">
        @*@Model.GetEditConfirmBookingSheets.Count()*@
    </div>
    <div class="col-6">
        <div style="float:right">
            <h2>@localizer["UPDATE CONFIRM BOOKING SHEET"]</h2>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-1">
        <hr />
    </div>
    <div class="col-3">
        <h5>Booking Sheet Information</h5>
    </div>
    <div class="col-8">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["JOB TYPE"]</div>
            <div class="col-8">
                <input type="text" class="form-control" id="txtjobType" value="@Model.GetEditConfirmBookingSheets[0].JobNumber" readonly>
                <input type="hidden" id="txtBookingID" value="@Model.GetEditConfirmBookingSheets[0].ConfirmBookingID" />
                <input type="hidden" id="txtDestination" value="@Model.GetEditConfirmBookingSheets[0].Destination" />
                <input type="hidden" id="txtCardCode" />
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["ROUTE"]</div>
            <div class="col-8">
                <input type="text" class="form-control" id="txtRoute" value="@Model.GetEditConfirmBookingSheets[0].Route" readonly>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["SALE NAME"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtSplPerson" value="@Model.GetEditConfirmBookingSheets[0].SalePerson" data-slpCode="" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["BORDER"]</div>
            <div class="col-8">
                <input type="text" class="form-control" id="txtBorder1" value="@Model.GetEditConfirmBookingSheets[0].ThaiBorder" readonly>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["JOB NO"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtJobNo" value="@Model.GetEditConfirmBookingSheets[0].JobNumber" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["PLACE OF LOADING"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtPlaceOfLoading" value="@Model.GetEditConfirmBookingSheets[0].PlaceOfLoading" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["SHIPPER"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtShipper" value="@Model.GetEditConfirmBookingSheets[0].Shipper" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["PLACE OF DELIVERY"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtPlaceOfDelivery" value="@Model.GetEditConfirmBookingSheets[0].PlaceOfDelivery" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["CONSIGNEE"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtCO" value="@Model.GetEditConfirmBookingSheets[0].Consignee" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["ORIGIN - DESTINATION"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <select class="form-select" id="cboPriceList">
                            <option selected value="-1">SELECT ORIGIN TO DESTINATION</option>
                            @foreach (var a in Model.getPriceListConfirmBookings)
                            {
                                @if (Model.GetEditConfirmBookingSheets[0].PriceList.ToString() == a.PriceListCode)
                                {
                                    <option selected value="@a.PriceListCode">@a.PriceListName</option>
                                }else{
                                    <option value="@a.PriceListCode">@a.PriceListName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["Loading Date"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtLoadingDate" value="@Model.GetEditConfirmBookingSheets[0].LoadingDate" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["Cross Border Date"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtCrossBorderDate" value="@Model.GetEditConfirmBookingSheets[0].CrossBorderDate" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["ETA Requirement Date"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtETARequirement" value="@Model.GetEditConfirmBookingSheets[0].ETARequirementDate" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row mt-2">
            <div class="col-4" style="margin:auto;text-align:left;font-weight:bold;">@localizer["CS Name"]</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="CSName" value="@Model.GetEditConfirmBookingSheets[0].CSName" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4"></div>
</div>
<div class="row mt-2">
    <div class="col-1 pr-0">
        <hr />
    </div>
    <div class="col-3 p-0" style="text-align:center">
        <h5>Container Information</h5>
    </div>
    <div class="col-8 pl-0">
        <hr />
    </div>
</div>

<div id="ContainerInfo">
    @*@await Component.InvokeAsync("ContainerEdit", new { BookingID = Model.GetEditConfirmBookingSheets[0].BookingDocEntry.ToString(),GetEditConfirmBookingSheets=Model.GetEditConfirmBookingSheets})*@
</div>
@*@await Component.InvokeAsync("PurchaseRequest")*@
@*@await Component.InvokeAsync("AdvancePayment",new { typeAdvancePayment="ADPM" })*@
<div class="row">
    <div class="col-12">@localizer["Remarks"]</div>
</div>
<div class="row">
    <div class="col-12">
        <textarea id="remarks" rows="4" class="form-control">@Model.GetEditConfirmBookingSheets[0].Remark</textarea>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6">
    </div>
    <div class="col-6">
        <button class="btn" id="btnConfirmTransaction" onclick="OnUpdateConfirmBookingSheet('@Url.Action("OnUpdateConfirmBookingSheet","ConfirmBookingSheetSeaAndAir")','@Url.Action("ViewDetailConfirmBookingSheet","ConfirmBookingSheetSeaAndAir")')" style="float:right;background-color:#01295C;color:white"> Confirm Transaction</button>
    </div>
</div>
<!--Import Modal OnSubmitBookingSheet-->
@*@await Html.PartialAsync("Modal/ModalContainer", Model.getContainers)
@await Html.PartialAsync("Modal/ModalEmployee", Model.getEmployees)
@await Html.PartialAsync("Modal/ModalTruck", Model.getTruckNos)
@await Html.PartialAsync("Modal/ModalVendor", Model.getVendors)
@await Html.PartialAsync("Modal/ModalCostType", Model.getCostTypes)
@await Html.PartialAsync("ListBookingSheet", Model.getBookingSheetByUser)
*@
@section scripts{
    <script src="~/js/confirmbookingsheetseaandair/modal/modalcontainer.js"></script>
    <script src="~/js/confirmbookingsheetseaandair/modal/modalemployee.js"></script>
    <script src="~/js/confirmbookingsheetseaandair/modal/modaltruck.js"></script>
    <script src="~/js/confirmbookingsheetseaandair/modal/modalvendor.js"></script>
    <script src="~/js/confirmbookingsheetseaandair/modal/modalCostType.js"></script>
    <script src="~/js/confirmbookingsheetseaandair/index.js"></script>
    <script src="~/js/confirmbookingsheetseaandair/listbookingsheet.js"></script>
    @*<script src="~/js/containerinfo/default.js"></script>*@
    @* setterListTruckInformation(JSON.parse('@Json.Serialize(Model.getDetailBookingSheetByUsers[0].Volume)'));*@
    <script defer>
        var listConfirmPR = [];
        var countint = 1;
        //$("#CSName").val($("#UserID").attr("data-id"));
        $.ajax({
            url: '@Url.Action("ContainerInformationEidit","ConfirmBookingSheetSeaAndAir")',
            data: { BookingID: @Model.GetEditConfirmBookingSheets[0].BookingDocEntry.ToString(), GetEditConfirmBookingSheets:'@Json.Serialize(@Model.GetEditConfirmBookingSheets)' },
            beforeSend: function () {
                //$('#Modalloder').modal('show');
            },
            success: function (data) {
                $("#ContainerInfo").html(data);
                //$('#Modalloder').modal('hide');
            },
            error: function (erro) {
                $('#Modalloder').modal('hide');
                $('#ModalSuccess').modal('show');
                $('#ErrMsg').html(erro.responseText);
            }
        });
    </script>
}