@using Client.Connection;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model List<Client.Models.Gets.GetPurchaseRequest>
<title>@ViewData["Title"] - EWSystem</title>
<div class="row mt-1">
    <div class="col-4"><h5>List Of Purchase Request AdvancePayment</h5></div>
    <div class="col-8">
        @if (Configure.ListOfPermissionsByUser.Where(x =>
                  x.IsPermission == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsPermission
                  && x.IsAllowAdd == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsAllowReadOnly).Count() == 1)
        {
            <a asp-controller="PurchaseRequestAdvancePayment" asp-action="Index" class="btn float-end" style="background-color:#01295C;color:white">
                Add NewData
            </a>
        }
    </div>
</div>
@if (Configure.ListOfPermissionsByUser.Where(x =>
                                              x.IsPermission == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsPermission
                                           && x.IsAllowReadOnly == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsAllowReadOnly).Count() == 1)
{
    <div class="row mt-2">
        <div class="col-9">
            <div class="row">
                <div class="col-6">Date From</div>
                <div class="col-6">Date To</div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-9">
            <div class="row">
                <div class="col-6"><input type="date" value="@(DateTime.Now.ToString("yyyy-MM-01"))" class="form-control" id="txtDateFrom"></div>
                <div class="col-6"><input type="date" value="@(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd"))" class="form-control" id="txtDateTo"></div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn" id="btnExecuteDate" style="float:left;background-color:#01295C;color:white">Execute Data</button>
            <button class="btn" id="btnExportData" style="float:left;background-color:#01295C;color:white;margin-left:5px">Export Excel</button>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <div class="row">
            <div class="col-12">
                <table id="TbListBookingSheet" class="table table-striped table-bordered dt-responsive table-condensed nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                    <thead>
                        <tr>
                            <th>@localizer["Action"]</th>
                            <th>@localizer["DOCNUM"]</th>
                            <th>@localizer["NO#"]</th>
                            <th>@localizer["STATUS"]</th>
                            <th>@localizer["Job Number"]</th>
                            <th>@localizer["REQUEST BY"]</th>
                            <th>@localizer["Update By"]</th>
                            <th>@localizer["VENDOR"]</th>
                            <th>@localizer["CREATE DATE"]</th>
                            <th>@localizer["REQUIRE DATE"]</th>
                            <th>@localizer["COMMENTS"]</th>
                            <th>@localizer["REASON"]</th>
                            <th>@localizer["DOCTOTAL"]</th>
                            <th>@localizer["Create Date"]</th>
                            <th>@localizer["Create Time"]</th>
                            <th>@localizer["Update Date"]</th>
                            <th>@localizer["Update Time"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @section scripts{
    <script>
        $('#TbListBookingSheet thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#TbListBookingSheet thead');
        $('#TbListBookingSheet').DataTable({
            columns:
                [
                    {
                        render: function (data, type, full, meta) {
                            var template = "<div css='text-start' style='width:150px'>";
                            template += '<button class="btn" style="background-color:#01295C;color:white;margin-right:5px;" data-bs-toggle="tooltip" data-bs-placement="top" title="View Detail" onclick="ViewLayout(' + full.docEntry.toString() + ')"><i class="fas fa-print"></i></button>';
                            let isAllow="0";
                            @if (Configure.ListOfPermissionsByUser.Where(x =>
                                x.IsPermission == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsPermission
                                && x.IsAllowUpdate == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsAllowUpdate).Count() == 1)
                            {
                                @Html.Raw("isAllow='1';")
                            }
                            if (isAllow === "1") {
                                if (full.updateStatus == "O") {
                                    template += '<button class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Update" style="margin-right:5px;" onclick="ViewEditPurchaseRequest(' + full.docEntry.toString() + ')"><i class="fas fa-edit"></i></button>';
                                }
                            }
                            isAllow="0";
                            @if (Configure.ListOfPermissionsByUser.Where(x =>
                                x.IsPermission == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsPermission
                                && x.IsAllowCancel == Client.Connection.Configure.ListOfPermissions.Where(x => x.Key == "PurchaseRequestForAdvancePayment").First().Properties.IsAllowCancel).Count() == 1)
                            {
                                @Html.Raw("isAllow='1';")
                            }
                            if (isAllow === "1") {
                                if (full.cancelStatus == "O") {
                                    template += '<button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel" style="margin-right:5px;" onclick="CancelPurchaseCosting(' + full.docEntry.toString() + ')"><i class="fas fa-trash"></i></button>';
                                }
                            }
                            template += "</div>";
                            return template;
                        }
                    },
                    { data: "docNumPR", autoWidth: true },
                    { data: "docNum", autoWidth: true },
                    { data: "status", autoWidth: true },
                    { data: "projectNumber", autoWidth: true },
                    { data: "userRequest", autoWidth: true },
                    { data: "updateBy", autoWidth: true },
                    { data: "vendorName", autoWidth: true },
                    { data: "createDate", autoWidth: true },
                    { data: "requireDate", autoWidth: true },
                    { data: "remark", autoWidth: true },
                    { data: "reason", autoWidth: true },
                    { data: "docTotal", autoWidth: true },
                    { data: "createDate", autoWidth: true },
                    { data: "createTime", autoWidth: true },
                    { data: "updateDate", autoWidth: true },
                    { data: "updateTime", autoWidth: true },
                ],
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
            scrollCollapse: true,
            scrollX: true,
            scrollY: 500
        });
        function ViewLayout(docEntry) {
            window.open('@Url.Action("ViewDetailPurchaseRequest","PurchaseRequest")?docEntry=' + docEntry,"_blank");
        }
        function ViewEditPurchaseRequest(docEntry) {
            window.open('@Url.Action("EditPurchaseAdvancePayment","PurchaseRequestAdvancePayment")?docEntry=' + docEntry,"_blank");
        }
        function CancelPurchaseCosting(docEntry) {
            if (confirm("Are you sure to Cancel this Transaction?")) {
                $.ajax({
                    url: '@Url.Action("OnCancelPurchaseRequest","PurchaseRequestCostOfSales")',
                    type: "DELETE",
                    data: { docNum: docEntry },
                    dataType: "JSON",
                    beforeSend: function () {
                        $('#Modalloder').modal('show');
                    },
                    success: function (data) {
                        $('#Modalloder').modal('hide');
                        $('#ModalSuccess').modal('show');
                        $('#ErrMsg').html("Success");
                        window.location.href = '@Url.Action("ListPurchaseRequestCostOfSale","PurchaseRequestCostOfSales")';
                    },
                    error: function (erro) {
                        $('#Modalloder').modal('hide');
                        $('#ModalSuccess').modal('show');
                        $('#ErrMsg').html(erro.responseText);
                    }
                });
            }
        }
        var listData = [];
        onLoadingDataTable(@Json.Serialize(Model));
        $("#btnExecuteDate").click(function () {
            $.ajax({
                url: '@Url.Action("GetListPurchaseRequestAdvancePayment","PurchaseRequestAdvancePayment")',
                type: "GET",
                data: {
                    dateFrom: $("#txtDateFrom").val(),
                    dateTo: $("#txtDateTo").val(),
                    type: 'ALL',
                },
                dataType: "JSON",
                beforeSend: function () {
                    $('#Modalloder').modal('show');
                },
                success: function (data) {
                    $('#Modalloder').modal('hide');
                    onLoadingDataTable(data.data);
                },
                error: function (erro) {
                    $('#Modalloder').modal('hide');
                    $('#ModalSuccess').modal('show');
                    $('#ErrMsg').html(erro.responseText);
                }
            });
        });
        function onLoadingDataTable(data) {
            listData = [];
            listData = data;
            var tbListItemLine = $('#TbListBookingSheet').DataTable();
            tbListItemLine.clear();
            tbListItemLine.rows.add(data);
            tbListItemLine.search("").columns().search("").draw();
        }
        $("#btnExportData").click(function () {
            $.ajax({
                url: '@Url.Action("OnExportDataOfPurchaseRequestAdvancePayment","PurchaseRequestAdvancePayment")',
                type: "POST",
                data: {
                    getBookingSheetExports: JSON.stringify(listData)
                },
                dataType: "JSON",
                beforeSend: function () {
                    $('#Modalloder').modal('show');
                },
                success: function (data) {
                    $('#Modalloder').modal('hide');
                    var sampleArr = base64ToArrayBuffer(data.data);
                    saveByteArray(data.fileName, sampleArr, data.applicationType);
                },
                error: function (erro) {
                    $('#Modalloder').modal('hide');
                    $('#ModalSuccess').modal('show');
                    $('#ErrMsg').html(erro.responseText);
                }
            });
        });
        function base64ToArrayBuffer(base64) {
            //var binaryString = window.atob(base64);
            var binaryString = atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                bytes[i] = binaryString.charCodeAt(i);
            }
            return bytes.buffer;;
        }
        function saveByteArray(reportName, byte, type) {
            var blob = new Blob([byte], { type: type });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName;
            link.click();
            link.remove();
        }
    </script>
}
}