@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Client.Models.Response.ResponseData<List<Client.Models.Gets.GetSaleEmployee>>
<div class="row">
    <div class="col-12">
        <div style="float:right">
            <h2>@localizer["Purchase Request for Sales Commission"]</h2>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6">
        <div class="row">
            <div class="col-2">
                <div style="margin:auto;text-align:left;font-weight:bold;">@localizer["SALE PERSON"]</div>
            </div>
            <div class="col-6">
                <select class="form-select" multiple="multiple" id="txtSaleEmployee">
                    @foreach (var a in Model.Data)
                    {
                        <option data-vendorCode="@a.VendorCode" value="@a.SlpCode">@a.SlpName</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <button class="btn" id="btnSearchSaleEmployee" style="background-color:#01295C;color:white"><i class="fas fa-search"></i></button>
                <button class="btn" id="btnExportToExcel" style="background-color:#01295C;color:white"><i class="fas fa-file-excel"></i></button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-2">
                <div style="margin:auto;text-align:left;font-weight:bold;">@localizer["Due Date"]</div>
            </div>
            <div class="col-6">
                <input type="date" id="txtDueDate" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="">
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
<div class="table-responsive mt-3">
    <div class="row">
        <div class="col-12">
            <div id="tbLineCommission">
                <table id="TbListPurchaseRequestForCommission" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Status Sale Commission</th>
                            <th>Job No</th>
                            <th>Shipper</th>
                            <th>C/O</th>
                            <th>Consignee</th>
                            <th>Sale Order</th>
                            <th>AR Invoice</th>
                            <th>Receipt No</th>
                            <th>Grand Total Selling THB</th>
                            <th>Grand Total Costing THB</th>
                            <th>Rebate</th>
                            <th>Gross Profit THB</th>
                            <th>Percentage %</th>
                            <th>Sales Commission THB</th>
                            <th>AR Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-6">
        <div style="margin:auto;text-align:left;font-weight:bold;">@localizer["Remarks"]</div>
    </div>
    <div>

    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <textarea id="txtRemark" rows="4" class="form-control"></textarea>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
    </div>
    <div class="col-6">
        <button class="btn" id="btnConfirmTransaction" onclick="onConfirmTransaction('@Url.Action("PostSalesCommissionDraftBySaleEmployee","PurchaseRequestSalesCommission")','@Url.Action("ViewDetailPurchaseRequestSalesCommission","PurchaseRequestSalesCommission")')" style="float:right;background-color:#01295C;color:white"> Confirm Transaction</button>
    </div>
</div>

@section scripts{
    <script src="~/js/purchaserequestsalescommission/index.js"></script>
    <script>
        $("#btnSearchSaleEmployee").click(function () {
            if ($("#txtSaleEmployee").val()[0] === undefined) {
                alert("Please select Sales Employee First");
                return;
            }
            OnSearchSaleEmployee('@Url.Action("GetSaleCommissionBySaleEmployee","PurchaseRequestSalesCommission")');
        });
        $("#btnExportToExcel").click(function () {
            var data = [];
            var dataRaw=$("#TbListPurchaseRequestForCommission").DataTable().rows().data();
            for (var i = 0; i < dataRaw.length; i++) {
                data.push(dataRaw[i]);
            }
            $.ajax({
                url: '@Url.Action("OnExportDataOfPurchaseRequestSalesCommissionBySaleEmployee", "PurchaseRequestSalesCommission")',
                type: "POST",
                data: {
                    getCommissionBySaleEmployee: JSON.stringify(data)
                },
                dataType: "JSON",
                beforeSend: function () {
                    $('#Modalloder').modal('show');
                },
                success: function (data) {
                    $('#Modalloder').modal('hide');
                    var sampleArr = base64ToArrayBuffer(data.data);
                    saveByteArray(data.fileName, sampleArr, data.applicationType);
                },
                error: function (erro) {
                    $('#Modalloder').modal('hide');
                    $('#ModalSuccess').modal('show');
                    $('#ErrMsg').html(erro.responseText);
                }
            });
        });
        function base64ToArrayBuffer(base64) {
            //var binaryString = window.atob(base64);
            var binaryString = atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                bytes[i] = binaryString.charCodeAt(i);
            }
            return bytes.buffer;;
        }
        function saveByteArray(reportName, byte, type) {
            var blob = new Blob([byte], { type: type });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName;
            link.click();
            link.remove();
        }
    </script>
}